.button {
}

.disabled {
    border:3px solid #b99f1d;

}

.secondary {
    border:3px solid #9600cc;
}

.default {
    background: #001bcc;
}

.red {
    background: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
